@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/OpenSans-Light.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/OpenSans-Bold.ttf"); /* IE9 Compat Modes */
}

.App {
  margin-top: 0;
  font-family: fantasy;
}

* {
  box-sizing: border-box;
}

#toolbar {
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */
}

#data {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
}

#center-main {
  width: 75%;
}

#side-main {
  width: 25%;
}
