.App {
  margin-top: 0;
  font-family: fantasy;
}

* {
  box-sizing: border-box;
}

#data {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
}

#center-main {
  width: 75%;
}

#side-main {
  width: 25%;
}
