#header {
  background-color: rgb(8, 8, 73);
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

#title-header {
  width: 60%;
  margin: auto;
  display: inline-block;
  font-size: 60px;
  font-family: fantasy;
  color: white;
}

#follow-text {
  width: 40%;
  font-style: italic;
  display: inline-block;
  font-size: 30px;
  font-family: fantasy;
  color: white;
}
