#whole-item {
  margin: 20px;
  font-family: fantasy;
}

#image-box {
  width: 32%;
  display: inline-block;
}

#image {
  height: 200px;
  width: 300px;
}

#info {
  width: 50%;
  margin: auto;
  margin-left: -15px;
  display: inline-block;
}

#title {
  font-family: fantasy;
}

/* #gap {
  min-width: 50px;
} */
