#whole-item {
  /* position: relative; */
  margin-top: 40px;
  padding-right: 40px;
}

#image-box {
}

#image {
  border-radius: 15px;
  height: 150px;
  width: 250px;
}

#cal-icon {
  height: 25px;
  width: 25px;
}

#info {
  /* position: absolute;
  top: 0%; */
  margin-left: -30px;
  width: 100%;
}

#title {
  font-family: Open Sans Bold;
}

#title:hover {
  color: rgb(8, 8, 73);
  font-family: Open Sans Bold;
  text-decoration: solid;
  text-decoration: underline;
}

#gap {
  display: inline-block;
  min-width: 100px;
}

#temp {
}
