#navbar {
  border-bottom: 3px solid rgb(210, 210, 219);

  background-color: whitesmoke;
}

#Container {
  padding-top: 10px;
  text-align: center;
}

/* .nav-item {
  height: 100%;
  cursor: pointer;
  border-bottom: 3px solid rgb(235, 235, 240);
  font-size: 26px;
  font-family: fantasy;
  padding: 0px 10px;
  background-color: whitesmoke;
}

.nav-item:hover {
  border-bottom: 3px solid midnightblue;
} */
