#full-item {
}

#small-header {
  flex-direction: row;
  display: flex;
}

#trending-text {
  font-family: Open Sans Bold;
  border-bottom: 3px solid rgb(8, 8, 73);
  width: 70%;
  padding: 0px;
  float: left;
}

#see-all {
  text-decoration: underline;
  cursor: pointer;
  width: 40%;
  text-align: right;
  margin-top: 10px;
  float: right;
}

#side-item {
  border-bottom: 1px solid rgb(207, 202, 202);
  margin-top: 20px;
  flex-direction: row;
  display: flex;
}

#side-image {
  display: inline-block;
  height: 80px;
  border-radius: 20px;
  width: 110px;
}

#side-title {
  margin-left: 10px;
  display: inline-block;
}
