#full-item {
  margin-top: 60px;
}

#small-header {
  flex-direction: row;
  display: flex;
}

#trending-text {
  width: 70%;
  float: left;
}

#see-all {
  text-decoration: underline;
  cursor: pointer;
  width: 30%;
  text-align: right;
  margin-right: 20px;
  float: right;
}

#side-item {
  margin-bottom: 20px;
  flex-direction: row;
  display: flex;
}

#side-image {
  display: inline-block;
  height: 80px;
  width: 110px;
}

#side-title {
  margin-left: 10px;
  display: inline-block;
}
